<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">ব্যবহারবিধি ও গোপনীয়তার নীতিমালা</%block>

<section class="container about">
<h1>ব্যবহারবিধি</h1>

<p>দ্বিমিক কম্পিউটিংয়ে স্বাগতম। ওয়েবসাইটে রেজিস্ট্রেশনের পূর্বে নিম্নোক্ত ব্যবহারবিধি, গোপনীয়তার নীতিমালা, সততাবিধি পড়ুন। এই নীতিমালা আমাদের ওয়েবসাইটের (http://dimikcomputing.com) সকল কনটেন্ট, কোর্স ম্যাটেরিয়াল, চ্যাট রুম ডিসকাসন ফোরাম ও সকল পেজের জন্য প্রযোজ্য। এই ব্যবহারবিধি, গোপনীয়তার নীতিমালা ও সততাবিধি আপনার ও দ্বিমিক কম্পিউটিংয়ের মধ্যে চুক্তিস্বরুপ. এই ওয়বসাইট ও এর সকল সার্ভিস ব্যবহারের মাধ্যমে আপনি আরোপকৃত সকল শর্ত মেনে নিচ্ছেন এবং এই নিয়মনীতি অনুসরন করার জন্য আপনি আইনগতভাবে দায়বদ্ধ (আপনি রেজিস্টারকৃত ব্যবহার কারী হোন না না হোন)। যদি নিম্নে বর্ণিত নিয়মনীতি আপনার বোধগম্য না হয়, অথবা আপনি যদি নিম্নোক্ত নিয়মনীতি মেনে চলগে আগ্রহী না হোন, আপনার এই ওয়েবসাইট ব্যবহার করা থেকে বিরত থাকা উচিত।</p>
<p>কোন প্রকার পূর্বে প্রস্তাবিত নোটিশ ব্যতীতই, দ্বিমিক কম্পিউটিং কর্তৃপক্ষ, যে কোন সময়ে নিম্নে বর্ণিত ব্যবহারবিধিতে পরিবর্তন করার অধিকার রাখে। এই ব্যবহারবিধির যে কোন পরিবর্তন পরিবর্তনের তারিখ উল্লেখ সহ এই পেইজে উত্থাপন করা মাত্রই তা তৎক্ষনাৎ প্রযোজ্য হবে। উক্ত তারিখের পরবর্তি সময়ে আপনি ওয়েবসাইটে ব্যবহারে অরিরত থাকলে, পূর্ববর্তী চুক্তি মোতাবেক আরোপ্য পরিবর্তনে আপনার সম্পূর্ণ সমর্থন আছে বলে ধরে নেওয়া হবে। তাই, ব্যবহারবিধি সংক্রান্ত যে কোন পরিবর্তনের ব্যপারে অবহিত হতে এই পেইজটি নিয়মিত ভিজিট করুন। </p>

<p><strong>দ্বিমিক কম্পিউটিংয়ের বিবরন</strong></p>

<p>দ্বিমিক কম্পিউটিং কম্পিউটার বিজ্ঞান ও প্রকৌশলের বিভিন্ন কোর্স MOOC ফরম্যাটে উপস্থাপন করে, যার মাধ্যমে বিভিন্ন বয়স ও শিক্ষাবিভাগের শিক্ষার্থীরা তাদের পড়াশুনা ও কর্মজীবনে উপকৃত হতে পারে। দ্বিমিক কম্পিউটিং শিক্ষক ও শিক্ষার্থীদের মধ্যে যোগাযোগ ও মত বিনিময়, অন্তঃশিক্ষার্থী যোগাযোগ ও মত বিনিময়, শিক্ষার্থীদের কাজের মূল্যায়ন এবং যেই সমস্ত শিক্ষার্থী বিভিন্ন বিষয়ে তাদের দক্ষতা প্রমানে উত্তীর্ণ হয় তাদের কে অনলাইন সার্টিফিকেট প্রদানের একটি প্ল্যাটফরম হিসেবে কাজ করে।</p>

<p><strong>অনলাইন আচরনবিধি</strong></p>

<p>আপনি মেনে নিচ্ছেন যে, এই ওয়েবসাইটে আপনার দ্বারা সংঘটিত সকল "ব্যবহারকারী পোস্টিং" এর জন্য আপনি দায়বদ্ধ। "ব্যবহারকারী পোস্টিং" বলতে বুঝায়, এই ওয়েবসাইটে আপনার অথবা অন্য কোন ব্যবহারকারী দ্বারা জমাদানকৃত, পোস্টকৃত, প্রকাশকৃত ও বিতরনকৃত সকল কনটেন্ট। এর মধ্যে রয়েছে, ফোরাম পোস্ট, উইকি পরিমার্জন, নোট, প্রশ্ন, মন্তব্য, ভিডিও ও ফাইল আপলোড। আপনি আরও মেনে নিচ্ছেন যে, আপনি এই ওয়েবসাইট ব্যবহারকালে প্রদত্ত ব্যবহারবিধি ও সততাবিধি এবং কপিরাইট আইন ও অনলাইন অ্যাক্টিভিটি সংক্রান্ত যাবতীয় স্থানীয় ও জাতীয় ও আন্তর্জাতিক আইন ও নীয়মনীতি মেনে চলবেন।</p>
<p>দ্বিমিক কম্পিউটিংয়ের সার্ভিস ব্যবহারের প্রদত্ত শর্ত মোতাবেক আপনি এই ওয়েবসাইটকে এমন কোন ভাবে ব্যবহার করবেন না যাতে করে, এই ওয়েবসাইটটি ধ্বংসপ্রাপ্ত, ক্ষতিগ্রস্থ, দূর্বল বা অকেজো হয়ে যায় অথবা এই ওয়েবসাইটের সার্ভার বা সার্ভারে সংযুক্ত নেটওয়ার্কের কোন হানী হয় যার দ্বারা অন্য ব্যবহারকারীরা এই ওয়েবসাইটের সার্ভিস ব্যবহারে বঞ্চিত হয়। আপনি হ্যাকিং, পাসওয়ার্ড মাইনিং বা অন্য কোনো উপায়ে এই ওয়েবসাইটের কর্তৃপক্ষীয় অধিকার সম্বলিত অ্যাকাউন্ট অ্যাক্সেস বা অন্য কোনো ব্যবহারকারীর অ্যাকাউন্ট অ্যাক্সেস বা কম্পিউটার সিস্টেম বা নেটওয়ার্ক অ্যাক্সেস গ্রহণ করার চেষ্টা করতে পারবেন না। আপনি এই ওয়েবসাইটের সার্ভার বা এর সাথে সংযুক্ত কোনো কম্পিউটার নেটওয়ার্ক সিস্টেমে সংরক্ষিত কোনো তথ্য বা ম্যাটেরিয়াল, যা কিনা সকলের সংগ্রহ করার নয় বা সংগ্রহের জন্য জনগনের নিকট স্বেচ্ছায় উন্মুক্ত করা হয় নি, এমন কোনো উপায়ে তা সংগ্রহ করা বা সংগ্রহ করার চেষ্টা করতে পারবেন না। </p>

<p><strong>নিম্নে তালিকাভুক্ত কর্মকান্ড এই ওয়েবসাইটে কঠোরভাবে নিষিদ্ধ:</strong></p>

<ul>
  <li>এমন কোন "ব্যবহারকারী পোস্টিং", যা অন্যের জন্য মানহানীকর, নাজেহাল হয়রনী স্বরুপ অথবা, বা হুমকী স্বরুপ</li>
  <li>এমন কোন "ব্যবহারকারী পোস্টিং", যা বেআইনী কর্মকান্ডের আলোচনা করে বা তা সাধন করার ইচ্ছা পোষন করে</li>
  <li>এমন কোন "ব্যবহারকারী পোস্টিং", যা কপিরাইট বা ট্রেডমার্ক লঙ্ঘন করে, অন্যের মেধাস্বত্ত্ব নকল এবং / অথবা চুরি করে তৈরী হয়</li>
  <li>এমন কোন "ব্যবহারকারী পোস্টিং", যা ধর্মবিদ্বেষী, অসামাজিক, অশ্লীল, গর্হিত ও বেআইনী</li>
  <li>বিজ্ঞাপন ও যে কোন রকম বানিজ্যিক উদ্দেশ্য বা কর্মকান্ড</li>
  <li>রাস্ট্রদ্রোহী ও দেশবিরোধী কোনরূপ কর্মকান্ড</li>
  <li>ভাইরাস, ট্রোজান হর্স, ওয়ার্ম, টাইম বম্ব বা লজিক বম্ব, বিনষ্টকৃত ফাইল, ম্যালওয়্যার, স্পাইওয়্যার এই জাতীয় কোনরূপ সফটওয়্যার বা টুল যা অন্যের কম্পিউটার বা ইলেকট্রনিক ডিভাইস বা আর্থিক ক্ষতিসাধন করতে পারে, এবং</li>
  <li>এমন কোন "ব্যবহারকারী পোস্টিং", যা সচেতনভাবে ভুল তথ্য প্রদান করে ও অন্যকে বিপথে চালিত করে।</li>
</ul>
<p>উপরন্তু, আপনি মেনে নিচ্ছেন যে, আপনি এই ওয়েবসাইটের কনটেন্ট স্ক্র্যাপিং, বিকল্প উপায়ে ডাউনলোড করবেন না। কনটেন্ট এর মধ্যে রয়েছে, ব্যবহারকারীর তালিকা, অনলাইন টেক্সটবই, ব্যবহারকারীর পোস্ট, ব্যবহারকারীর তথ্য। আপনি আরো মেনে নিচ্ছেন, এই ওয়েবসাইট ব্যবহার কালে আপনি অন্য কারো পরিচয় ধারন বা পরিচয় ধারনের চেষ্টা করবেন না। (যদিও, আপনি চাইলে নিজের পরিচয় গোপন রাখার স্বার্থে "জনৈক" বা "anonymous" ইউজার নাম ব্যবহার করে ফোরামে পোস্ট করতে পারেন।</p>

<p><strong>ব্যবহারকারী অ্যাকাউন্ট ও কর্তৃপক্ষ</strong></p>
<p>ওয়েবসাইটে সকল প্রকার কর্মকান্ডে সঠিকভাবে অংশগ্রহনের জন্য আপনাকে অবশ্যই নিজের নাম, ইমেইল ঠিকানা, "ব্যবহারকারী অ্যাকাউন্ট" তৈরীর জন্য নির্বাচিন পাসওয়ার্ড প্রদান করতে হবে। আপনি মেনে নিচ্ছেন যে, আপনি কখনো স্বেচ্ছায়, অন্য কোন তৃতীয় পক্ষের কাছে, কোনো কারনেই, আপনার অ্যাকাউন্ট অ্যাক্সেস করার জন্য প্রয়োজনীয় গোপন তথ্যাদি ফাঁস করবেন না। আপনার "ব্যবহারকারী অ্যাকাউন্ট" সংস্থাপনের সময় আপনার কাছে আরও তথ্য (যেমন, আপনার ঠিকানা) চাওয়া হতে পারে। আপনি স্বীকার করছেন যে, আপনার প্রদত্ত সকল তথ্য সঠিক এবং হালনাগাদকৃত। আপনি মেনে নিচ্ছেন যে, আপনি নিয়মিত আপনার ব্যাক্তিগত তথ্য পর্যালোচনা করবেন ও হালনাগাদকৃত রাখবেন।</p>
<p>আমরা আপনার গোপনীয়তা ও ব্যাক্তিগত তথ্যের নিরাপত্তাকে সম্মান করি ও গুরুত্ব দেই। আমরা কিভাবে আপনার সংক্রান্ত তথ্য সংগ্রহ, সংরক্ষন ও ব্যবহার করি এই সম্বন্ধে বিস্তারিত জানতে আমাদের "গোপনীয়তার নীতিমালা" অংশ দেখুন।</p>

<p><strong>এই ওয়েবসাইট ও এর কনটেন্ট ব্যবহারে আপনার অধিকার</strong></p>

<p>যেই সমস্ত কনটেন্টের ক্ষেত্রে "পাবলিক ডোমেইন" কথাটির উল্লেখ নেই, সেই সমস্ত কনটেন্ট গনপ্রজাতন্ত্রী বাংলাদেশ সরকারে কপিরাইট আইন দ্বারা সংরক্ষিত। অন্য কোন বিশেষ উল্লেখ না থাকা পর্যন্ত এই ওয়েবসাইটের সকল লিখিত বিষয়, পরীক্ষা, ভিডিও, ছবি ও কোর্সের সাথে প্রদেয় অন্যান্য সহায়িকা শুধুমাত্র আপনার এবং এই কোর্স সংশ্লিষ্ট সকলের ব্যবহারের জন্য। আমরা চাই, সকলের জন্য দরকারী প্রাথমিক কন্টেন্ট সকলের জন্য উন্মুক্ত রাখতে। আমাদের কোর্স কন্টেন্ট সকলের মধ্যে পৌছে দিয়ে শিক্ষক ও শিক্ষার্থীদের মধ্যে একটি চমৎকার পরিবেশ সৃষ্টি করে দিতে, যাতে করে আইটি শিক্ষা সকলের কাছে সুলভে পৌছে দেওয়া যায়।</p>
<p>কিছু কিছু রেফারেন্স ডকুমেন্ট, ডিজিটাল টেক্সটবই, আর্টিকেল ও অন্যান্য তথ্য তৃতীয় পক্ষের অনুমতি সহকারে এই ওয়েবসাইটে ব্যবহার করা হবে, সেগুলো ব্যবহারের নীতিমালা একইসাথে উল্লেখ করে দেওয়া হবে। আপনি এই ওয়েবসাইট ব্যবহারের মাধ্যমে মেনে নিচ্ছেন যে আপনি ঐসব নিয়মনীতি মেনে চলবেন।</p>
<p>আপনি আরও মেনে নিচ্ছেন যে, এই সাইটের সকল কনটেন্ট যা আপনি সংগ্রহ করছেন তার কপিরাইট অব্যহত রাখবেন। বিশেয ভাবে উল্লেখ না করা হয়ে থাকলে, এই ওয়েবসাইটের সকল কনটেন্টের সকল প্রকার স্বত্ত্ব সংরক্ষিত।</p>

<p><strong>ব্যবহারকারী পোস্টিং</strong></p>
<p><strong>"ব্যবহারকারী পোস্টিং" প্রতিনিধিত্ব ও ওয়্যারান্টি। </strong>আপনার "ব্যবহারকারী পোস্টিং" জমাদান ও বিতরনের মাধ্যমে আপনি এই নিশ্চয়তা, ওয়্যারান্টি ও প্রতিনিধিত্বের অঙ্গীকার দিচ্ছেন যে, আপনার এই কনটেন্ট তৈরী করা ও বিতরনের যথোপযুক্ত অধিকার, লাইসেন্স ও উপযুক্ত কর্তৃপক্ষের সম্মতি / অধিকার রয়েছে। আপনি দ্বিমিক কম্পিউটিং ও তার ব্যবহারকারীদের সেইসাথে এই অধিকার প্রদান করছেন যাতে করে তারা, আপনার তৈরী "ব্যবহারকারী পোস্টিং" পূনরায় তেরী, পরিবর্তন, প্রকাশ ও প্রচার ও অন্যত্র ব্যবহার ও বিতরন করতে পারবে আপনার সম্মতিপ্রাপ্ত নিম্নোক্ত লাইসেন্স মোতাবেক এবং আপনার জমাদানকৃত "ব্যবহারকারী পোস্টিং" অথবা, নিম্নোক্ত লাইসেন্সের ব্যবহার কোনো ভাবেই কোনো তৃতীয় পক্ষের অধিকার খর্ব করা বা হস্তক্ষেপ করবে না। দ্বিমিক না, শুধুমাত্র আপনি-ই, আপনার জমাদানকৃত "ব্যবহারকারী পোস্টিং" এর জন্য এবং এর প্রচার ও প্রসারের ফলাফলের জন্য সর্বোতভাবে দায়বদ্ধ।</p>
<p><strong>দ্বিমিক কম্পিউটিংকে প্রদত্ত লাইসেন্স.</strong> আপনার "ব্যবহারকারী পোস্টিং" জমাদান ও বিতরন এর মাধ্যমে, আপনি এই মর্মে দ্বিমিক কম্পিউটিংকে বিশ্বব্যাপী, অবর্জনকর, হস্তান্তরযোগ্য, বরাদ্দযোগ্য, সাব-লাইসেন্স যোগ্য, সম্পূর্ণ মুল্য পরিশোধকৃত, রয়্যালটি-মুক্ত, চিরস্থায়ী, অফেরতযোগ্য লাইসেন্স প্রদা‌ন করছেন, যার দ্বারা, আপনার সকল "ব্যবহারকারী পোস্টিং" সংরক্ষন, স্থানান্তর, প্রদর্শন, সংঘটন, পুনরায় তৈরী, পরিবর্তন, বিতরন, বিপনন, পুনরায় লাইসেন্সকরন, সংগ্রহের জন্য উপস্থাপন ও যেকোন ভাবে, সমগ্র বা আংশক, যেকোন ফরম্যাটে, যেকোন মিডিয়া / মাধ্যমে ও ভবিষ্যতে ব্যবহার্য ষেকোন মিডিয়া চ্যানেলে ব্যবহার করতে পারবে।</p>
<p><strong>দ্বিমিক কম্পিউটিংয়ের ব্যবহারকারীদের প্রদত্ত লাইসেন্স। </strong> আপনার "ব্যবহারকারী পোস্টিং" জমাদান ও বিতরন এর মাধ্যমে, আপনি এই মর্মে এই ওয়েবসাইটের সকল ব্যবহারকারীকে অবর্জনকর লাইসেন্স প্রদান করছেন, যার দ্বারা তারা আপনার "ব্যবহারকারী পোস্টিং" সংগ্রহ, এই ওয়েবসাইটের যে কোন কার্যকলাপে ব্যবহার ও ব্যক্তিগত যেকোন প্রয়োজনে ব্যবহার করতে পারবে।</p>

<p><strong>সার্টিফিকেট</strong></p>

<p><strong>সাধারনভাবে,</strong> দ্বিমিক কম্পিউটিং ও এর সহযোগী যেকোন কোর্স পরিচালনাকারী ও উপস্থাপনকারী ব্যক্তি বা প্রতিষ্ঠান (যাদেরকে একত্রে বলা যায় "সদস্য") কোর্সের "বিশেষ অর্জন সার্টিফিকেট" বা "সম্মাননা সার্টিফিকেট" বা "অংশগ্রহন সার্টিফিকেট" সেই সমস্ত শিক্ষার্থীদের প্রদান করতে পারবে যারা, কোর্সে অংশগ্রহন করেছে, কোর্সের সকল পরীক্ষায় উত্তীর্ণ হয়েছে এবং কোর্সে সম্মানজনক স্কোর অর্জন করে যোগ্যতার পরিচয় প্রদর্শন করেছে। সার্টিফিকেট সরবরাহ করা হবে দ্বিমিক কম্পিউটিংয়ের নামে যারে সংশ্লিষ্ট "সদস্য" ব্যক্তি ও প্রতিষ্ঠানের নাম উল্লেখ করা থাকবে। কোন কোন শিক্ষার্থী সার্টিফিকেট অর্জনের যোগ্যতা অর্জন করতে পারবে, এই সিদ্ধান্ত সম্পূর্ণরুপে সংশ্লিষ্ট "সদস্য" এর সিদ্ধান্তের উপর নির্ভর করবে এবং তাদের সিদ্ধান্তই চুড়ান্ত বলে বিবেচিত হবে। যে কোন "সদস্য" চাইলে, কোনপ্রকার সার্টিফিকেট প্রদান হতে বিরত থাকার সিদ্ধান্ত নিতে পারবেন।</p>
<p><strong>রেজিস্ট্রেশন ও কোর্স ফি প্রদান</strong>কিছু কিছু কোর্সের কিছু বিশেষ সার্টিফিকেট অর্জনের জন্য শিক্ষার্থীকে প্রযোজ্য ফি বা চার্জ প্রদান করার প্রয়োজন পড়তে পারে। যার জন্য নিম্নোক্ত নীয়মনীতি অনুসরন করা হবে:</p>
<ul>
  <li>রেজিস্ট্রেশনের অংশ হিসেবে শিক্ষার্থীকে তার একটি ছবি জমাদান করতে হবে। এর পাশাপাশি তাকে একটি আইডি কার্ডের ছবি ও জমা দিতে হবে। যদিও এই তথ্যাদি দ্বিমিক কম্পিউটিং দ্বারা সংগৃহীত হবে, তথাপি আপনাকে জানতে হবে যে, এই আইডি ভেরিফিকেশনের জন্য তৃতীয় কোন পক্ষের সহায়তা নেওয়া হতে পারে। সেক্ষেত্রে, উক্ত তৃতীয় পক্ষ এই এই তথ্যাদি অর্জনের অধিকার রাখে। আপনার গোপনীয়তার নিশ্চয়তার জন্য আমাদের "গোপনীয়তার নীতিমালা" পর্যবেক্ষন করুন।</li>
  <li>উপরন্তু, আপনার পেমেন্ট বা কোর্স ফি সংগ্রহ করার জন্য তৃতীয় পক্ষের সার্ভিস ব্যবহার করা হতে পারে। সেক্ষেত্রে আপনাকে তাদের সার্টিফায়েড সার্ভারে ফরওয়ার্ড করে দেওয়া হবে সম্পূর্ণ পেমেন্ট প্রসেস সম্পন্ন করার জন্য। আর তাই, উক্ত তৃতীয় পক্ষের ওয়েবসাইটের সার্ভিস ব্যবহারের সময় আপনাকে উক্ত তৃতীয় পক্ষের ব্যবহারবিধি ও গোপনীয়তার নীতিমালা অনুসরন করতে হবে। অর্থাৎ, আপনাকে তাদের ব্যবহারবিধি ও গোপনীয়তার নীতিমালা সম্পর্কে জ্ঞানার্জন করতে হবে।</li>
  <li>আপনার পেমেন্ট প্রসেস সম্পন্ন হবার পরে, আপনাকে পুনরায় দ্বিমিক কম্পিউটিংয়ের ওয়েবসাইটে ফিরিয়ে নিয়ে আসা হবে। এই পর্যায়ে আপনাকে প্রয়োজনীয় তথ্যাদি (যেমন, নাম, ইমেইল ইত্যাদি) জমা দিয়ে পেমেন্ট প্রক্রিয়া নিশ্চিতকরন করতে হবে। পরবর্তিতে আপনার যে কোন প্রয়োজন নিশ্চিতকরন ইমেইল টি ডকুমেন্ট হিসেবে ব্যবহার করার জন্য ইমেইল টি সংরক্ষন করতে হবে। </li>
</ul>
<p><strong>কোর্স বর্জন ও রিফান্ড</strong>কোর্সে এনরোল করার প্রথম দুই সপ্তাহ বা ১৪ দিন পর্যন্ত "ড্রপ পিরিয়ড" বলে বিবেচিত হবে। আপনি প্রয়োজনে এই সময়ের মধ্যে আনএনরোল বা কোর্স বর্জন করতে পারবেন। কোর্স আনএনরোল করা হলে আপনি রিফান্ডের জন্য আবেদন করতে পারবেন। আবেদন করার সময় অবশ্যই আপনার পূর্ণনাম, অর্ডার নম্বর প্রদান করতে হবে। কর্তৃপক্ষের সিদ্ধান্ত মোতাবেক আপনার কোর্স ফি এর আংশিক বা সম্পূর্ণ অংশ আপনার কাছে রিফান্ড করে দেওয়া হবে। "ড্রপ পিরিয়ড" এর পরে কোর্স থেকে আনএনরোল করা হলে, কোনো কোর্স ফি রিফান্ড প্রদান করা হবে না।</p>

<p><strong>অন্য কোনো সুবিধা নয়।</strong>দ্বিমিক কম্পিউটিংয়ে কোন "সদস্য" উপস্থাপিত কোর্সে অংশগ্রহনকালে আপনি যদি, উক্ত "সদস্য" এর অধীনে কোন রকম ডিগ্রি প্রোগ্রাম বা অন্য কোনো ভাবে ভর্তি হয়ে থাকেন, দ্বিমিক কম্পিউটিংয়ের মাধ্যমে উপস্থাপিত কোর্সে অংশগ্রহন দ্বারা আপনি ডিগ্রি প্রোগ্রাম ইত্যাদি কোর্সে বিশেষ কোন সুবিধা অর্জন করতে পারবেন না। একই ভাবে উক্ত "সদস্য" এর দ্বারা সরবরাহকৃত বিশেয কোন কোর্স ম্যাটেরিয়াল, যা দ্বিমিক কম্পিউটিংয়ের মাধ্যমে সরবরাহকৃত হয়নি তা, দ্বিমিক কম্পিউটিংয়ের কোর্সে ব্যবহার করতে পারবেন না।</p>

<p><strong>পরিচয় সত্যতা যাচাই</strong></p>
<p>আপনার পরিচয়ের সত্যতা যাচাইয়ের নিমিত্ত দ্বিমিক কম্পিউটিং ব্যবহারবিধি মোতাবেক আপনার কাছ থেকে আপনার একটি ছবি, আপনার ওয়েবক্যামে তোলা ছবি, আপনার আইডি কার্ডের ছবি জমা নিতে পারে। উক্ত তথ্যাদি জমাদানের পরে তা "গোপনীয়তার নীতিমালা" অনুযায়ী ব্যবহার করা হবে, এবং শুধুমাত্র আপনার পরিচয় নিশ্চিতকরনের জন্যই ব্যবহৃত হবে। যে ধরনের আইডি কার্ডের ছবি গ্রহন করা হবে।</p>
<ul>
  <li>জাতীয় পরিচয়পত্র</li>
  <li>পাসপোর্ট</li>
  <li>নাগরিকত্বের সনদ</li>
  <li>অফিসের আইডি (সরকারী কর্মকর্তা ও কর্মচরীদের জন্য)</li>
  <li>ড্রাইভিং লাইসেন্স</li>
</ul>
<p>গ্রহনযোগ্যতার জন্য আপনার আইডি তে অবশ্যই নিম্নোক্ত বিষয় গুলো থাকতে হবে:</p>
<ul>
  <li>আপনার হুবহু পূর্ননাম</li>
  <li>আপনার সমসাময়িক একটি ছবি</li>
  <li>মূল কপি (ফটেকপি গ্রহনযোগ্য নয়)</li>
  <li>মেয়াদোত্তীর্ন ও বাতিল আইডি গ্রহনযোগ্য নয়</li>
</ul>
<p>আপনার কাছে উক্ত তথ্যাদি উপস্থিত না থাকলে দ্বিমিক কম্পিউটিংয়ের পক্ষে আপনার পরিচয় নিশ্চিতকরন সম্ভবপর নয়, সেক্ষেত্রে আপনি যেকোন প্রকার সার্টিফিকেট অর্জনে অযোগ্য বিবেচিত হতে পারেন।</p>

<p>কার্যকর তারিখ: জুলাই ২৮, ২০১৫.</p>
<p></p>
</section>

<section id="privacy" class="container about">
<h1>গোপনীয়তার নীতিমালা</h1>
<p>দ্বিমিক কম্পিউটিংয়ে আমরা আপনার ব্যক্তিগত তথ্যের গোপনীয়তা ও নিরাপত্তাকে প্রাধান্য দেই। আপনার ব্যক্তিগত তথ্য সংরক্ষনের ক্ষেত্রে আপনার আর্থিক সঙ্গতি সম্পন্ন সবরকম নিরাপত্তামূলক ব্যবস্থা গ্রহণ করবো। "ব্যক্তিগত তথ্য" বলতে কি বুঝানো হবে তা নিচে আলোচনা করা হলো। নিম্নোক্ত গোপনীয়তার নীতিমালায় "আমরা", "আমাদের" শব্দগুলো দ্বারা "দ্বিমিক কম্পিউটিং" কে বুঝানো হবে।</p>
<p>এই গোপনীয়তার নীতিমালা শুধুমাত্র সেই সমস্ত তথ্যের ক্ষেত্রে প্রযোজ্য হবে যা এই ওয়েবসাইটের মাধ্যমে সংগৃহীত হয়েছে (এই ওয়েবসাইট বলতে বুঝায়, সাইটের সকল কনটেন্ট ও পেইজ যা dimikcomputing.com ডোমেইনের অধীনে রয়েছে) এবং আপনার আপনার কোনো তথ্য অন্য কোনো উৎস থেকে সংগ্রহ করে থাকলে তার ক্ষেত্রে এই "গোপনীয়তার নীতিমালা" প্রযোজ্য হবে না। যেমন, আপনি যদি ফোন বা ইমেইলে আমাদের কাছে কোনো তথ্য প্রদান করেন, তার ক্ষেত্রে এই "গোপনীয়তার নীতিমালা" প্রযোজ্য হবে না।</p>

<p><strong>ব্যবহারকারী নাম ও পোস্টিং</strong></p>
<p>জনসাধারনের জন্য উন্মুক্ত যোগাযোগ ব্যবস্থা বা কোর্সে এনরোলকৃত শিক্ষার্থীদের মধ্যে আভ্যন্তরীন যোগাযোগ ব্যবস্থার যে কোন মাধ্যম, যেমন ফোরাম, উইকি বা অন্যান্য মাধ্যম আপনার দেওয়া তথ্য বা মতামত অন্যান্য যেকেউ চাইলে দেখতে ও ডাউনলোড করতে পারে। তাই, আমাদের মতামত হবে, এই ধরনের স্থানে ব্যক্তিগত তথ্য প্রদানের ব্যপারে সচেতন হউন, যার দ্বারা আপনার ব্যক্তিগত তথ্য সকলের নিকট উন্মুক্ত হয়ে যেতে পারে।</p>
<p>দেশের বাইরে আপনার তথ্যাদি প্রসেসিংয়ের অনুমতি</p>
<p>আমাদের ওয়েবসাইট ব্যবহার ও আমাদের ওয়েবসাইটে তথ্য প্রদানের মাধ্যমে, আপনি মেনে নিচ্ছেন ও সম্পূর্ণ সম্মত হচ্ছেন, বাংলাদেশ বা তার বাইরে যেকোন দেশ বা ওলাকায় এই "গোপনীয়তার নীতিমালা" ও "ব্যবহারবিধি" এর স্বার্থে এই তথ্যাদি সংগ্রহ, ব্যবহার, প্রকাশ, সংরক্ষন করা যেতে পারে। আপনি এই মর্মে, নিম্নোক্ত কর্মকান্ডের জন্য দ্বিমিক কম্পিউটিংয় কর্তৃক আপনার "ব্যক্তিগত তথ্য" সংগ্রহ, ব্যবহার, প্রকাশ, সংরক্ষন এর অনুমতি দিচ্ছেন। কর্মকান্ড সমূহের মধ্যে রয়েছে, দ্বিমিক কম্পিউটিংয়ের সাথে সংশ্লিষ্ট তৃতীয় পক্ষাদি, সহযোগী, অধীনস্ত প্রতিষ্ঠানসমূহের মধ্যে আপনার "ব্যক্তিগত তথ্য" স্থানান্তর।</p>
<p>আপনি এই শর্তে সম্মত না থাকলে, দয়া করে আমাদের ওয়েবসাইট ব্যবহার, ব্রাউজিং, রেজিস্ট্রেশন ইত্যাদি কর্মকান্ড থেকে বিরত থাকুন। আপনি যদি এই ওয়েবসাইটে রেজিস্ট্রেশনের জন্য প্রয়োজনীয় তথ্যা‌দি সরবরাহ করতে না চান, তাহলে এই ওয়েবসাইটে আপনি অ্যাকাউন্ট খোলা ও এর সার্ভিস সমূহ ব্যবহার করতে পারবেন না।</p>

<p>ব্যাক্তিগত তথ্য</p>
<p>এই গোপনীয়তার নীতিমালা অনুযায়ী, "ব্যক্তিগত তথ্য" বলতে বুঝায় আপনার সম্পর্কিত যে কোন তথ্য যা আপনি এই ওয়েবসাইট ব্যবহারের সময়ে আমাদের প্রদান করেছেন সাইনআপ, কোর্স রেজিস্ট্রেশন ইত্যাদি প্রক্রিয়ায়। যার মধ্যে রয়েছে, আপনার নাম, যোগাযোগের তথ্য, লিঙ্গ, জন্ম তারিখ, পেশা, আইডি কার্ডের তথ্য ইত্যাদি</p>

<p><strong>যেইসকল তথ্যা আমরা সংগ্রহ ও ব্যবহার করি</strong></p>
<p>আমরা উপরে বর্ণিত বিভিন্ন তথ্য সংগ্রহ করি, যখন আপনি সাইনআপ, কোর্স রেজিস্ট্রেশন ও অংশগ্রহন, ইমেইল ও পাবলিক ফোরামে অংশগ্রহন করেন। আমরা এছাড়াও আপনার ব্যবহারের তথ্য ও শেখার ধরণ সংক্রান্ত তথ্য সংগ্রহ করি। আপনি ওয়েবসাইটের কোন কোন পেইজ ভিজিট করেছেন, কোন কোন সার্ভিস ব্যবহার করেছেন, কোন কোন লিঙ্কের ক্লিক করেছেন এই সংক্রান্ত তথ্যও আপরা সংগ্রহ করি।</p>
<p>আমরা আপনার আইপি ঠিকানা, অপারেটিং সিস্টেম, ব্রাউজার সফটওয়্যার, ওয়েবসাইটের ব্যবহার, আইএসপি, ভৌগোলিক অবস্থান সংক্রান্ত তথ্যও সংগ্রহ করতে পারি। কিছু কিছু তথ্যের জন্য আপরা আপনার কম্পিউটারে "কুকি" ফাইল সংরক্ষন করে থাকি, যা পরবর্তিতে আপনি ওয়েবসাইট ব্যবহা‌রকালে আমরা অ্যাক্সেস করি। কুকি ছাড়া আপনি আমাদের ওয়েবসাইট সঠিক ভাবে ব্যবহার করতে পারবেন না</p>

<p><strong>তৃতীয় পক্ষের কাছে তথ্য উপস্থাপন</strong></p>
<p>আমরা এবং আমাদের "সদস্য" রা আপনার কাছ থেকে সংগৃহীত তথ্য ব্যবহার করতে পারে। যখন তৃতীয় কোনো পক্ষের কাছে আমরা আপনাদের তথ্য উপস্থাপন করি, (১) তারা নিরাপদ উপায়ে যথোপযুক্ত গোপনীয়তার সাথে তা ব্যবহার করে যাতে করে তার অপব্যবহার, ধ্বংস, প্রকাশ, পরিবর্তন না হয় এবং (২) আমরা শুধুমাত্র তখনই এই তথ্য হস্তান্তর করি যখন তা সংগ্রহের সময় যেই কারন উল্লেখ করা হয় তা পালন করা হয়।</p>
<ul>
  <li>সদস্যের পর্যালোচনা, পরিচালনা ও কোর্সের উন্নয়নের জন্য</li>
  <li>বৈজ্ঞানিক গবেষনার কাজে</li>
  <li>ঠিক যেই উদ্দেশ্যে আপনার কাছ থেকে তথ্য সংগ্রহ করা হয়েছ।</li>
  <li>আপনার কোর্সের অগ্রগতি ও ইতিহাস পর্যালোচনা</li>
  <li>সততাবিধি লঙ্ঘন পর্যালোচনা</li>
  <li>দ্বিমিক কম্পিউটিংয়ের ব্যবহারের তথ্য উপস্থাপন</li>
  <li>আপনাকে নতুন সার্ভিস সম্পর্কে অবহিতকরন</li>=
  <li>অন্য যেকোন উদ্দেশ্যে যা আপনার সম্মতি সাপেক্ষে সংগৃহীত</li>
  <li>আপনার পরিচয় নিশ্চিতকরন</li>
</ul>

<p>কার্যকর তারিখ: জুলাই ২৮, ২০১৫</p>

</section>